.display {
    display: flex;
    flex-direction: column;
}

#editor {
    display: flex;
    flex-direction:column;
    padding: 1vh;
}

#actions {
    display: flex;
    flex-direction: row;
}

#actions button {
    margin: 1vh;
    background-color: white;
    border: 0.1vh solid grey;
}

#actions button:active {
    background-color: lightgrey;
}


#edit-textarea {
    padding: 1vh;
    height: 80vh;
}

#preview {
    border: 0.1vh solid grey;
    padding: 1vh;
    height: 80vh;
}

#delete-button {
    
}
