.display {
    display: flex;
    flex-direction: column;
}

.non-critical-button {
    background-color: white;
    border: 0.1vh solid grey;
}

.non-critical-button:active {
    background-color: lightgrey;
}

.critical-button {
    background-color: red;
    border: 2px solid orange;
    color: white;
}

.critical-button:active {
    /* background-color: salmon; */
    border: 2px solid black;
}

.view-button-highlight {
    background-color: lightgrey;
    color: black;
}
#view-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#editor {
    display: flex;
    flex-direction:column;
    padding: 1vh;
    margin: 1vh;
}

#actions {
    display: flex;
    flex-direction: row;
}

#actions button {
    margin: 1vh;
}


#edit-textarea {
    padding: 1vh;
    height: 60vh;
}

#preview {
    border: 0.1vh solid grey;
    padding: 1vh;
    height: 60vh;
}

