<div id="editor">
    <div id="view-selector">
        <label for="edit-textarea" *ngIf="currentView === 'edit'">Edit</label>
        <label for="preview" *ngIf="currentView === 'preview'">Preview</label>
        <div>
            <button class="non-critical-button" [ngClass]="{'view-button-highlight': currentView === 'edit'}" (click)="onEdit()">Edit</button>
            <button class="non-critical-button" [ngClass]="{'view-button-highlight': currentView === 'preview'}" (click)="onPreview()">Preview</button>
        </div>
    </div>
    <div class="display" id="edit-view" *ngIf="currentView === 'edit'">
        <!-- 600 = maximum number of characters allowed as input. -->
        <!-- wrap="off" means wrapping is off. Works like a <pre> tag. -->
        <textarea id="edit-textarea" type="text" [(ngModel)]="this.text" maxlength="600" wrap="off" (keydown.escape)="onPreview()"></textarea>
    </div>
    <div class="display" id="display-view" *ngIf="currentView === 'preview'" (mousedown)="onEditMouseDown($event)">
        <showdown id="preview" *ngIf="currentView === 'preview'" [value]="this.text"></showdown>
    </div>
    <div id="actions">
        <button class="non-critical-button" (click)="onSave()">Save</button>
        <button class="critical-button" (click)="onDiscard()">Discard</button>
        <button class="non-critical-button" (click)="onNew()">New</button>
        <button class="critical-button" (click)="onDelete()">Delete</button>
    </div>
</div>