#display {
    border: 1px solid grey;
    height: 80vh;
    margin: 1vh;
}

#display #add-note {
    margin: 1vh;
}

#notes {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 1%;
}

#notes div {
    border: 1px solid grey;
    margin:1vh;
    padding: 0.5vh;
    flex-basis: 15vw;
}

#notes div:active {
    border: 1px solid lightgrey;
}