<app-header></app-header>
<app-search></app-search>
<div id="main">
    <div id="display">
        <div id="notes">
            <div *ngFor="let note of notes" (mousedown)="setCurrentNote(note)">
                <p>{{note.date.getDate()}}/{{note.date.getMonth()}}/{{note.date.getFullYear()}}</p>
                <hr>
                <showdown [value]="note.content.length > 50?note.content.substring(0, 50)+'…':note.content">
                </showdown>
            </div>
        </div>
    </div>
    <app-editor [currentNote]="currentNote"></app-editor>
</div>